.careerWrapper{
    /* background-image:url('../../public/images/Section2.jpg'); */
    background-color: #264653;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .serviceWrapper{
    /* background-image:url('../../public/images/Section2.jpg'); */
    background-color: #264653;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .privacyWrapper{
    /* background-image:url('../../public/images/Section2.jpg'); */
    background-color: #264653;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .textBeautify{
    color:#555;
    line-height: 28px;
  }
  .decoration{
    text-decoration: none;
}
.carryp1{
    padding-top: 14rem;
    font-size:16px ;
    font-weight:600;
    line-height:16.9px ;
    letter-spacing:1.6px;
    color: rgba(233, 196, 106, 1);
}
.carryh1{
    font-size:52px ;
    font-weight:600 ;
    line-height:60px ;
    letter-spacing:-2%;
    color:#fff;
    padding-bottom:6rem;
    width: 60%;
}
.carryp{
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color:orange;
}
.carryh{
    text-align: center;
    color: black;
    padding-top: 1.44rem;
    font-size: 45px;
    line-height:60px;
    letter-spacing: 1.6px;
    font-weight: 600;
    text-transform: capitalize;
}

.carrypp{
    margin-top: 2rem;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: black;
    margin-bottom: 4rem;
}

/* .tabledata{
    padding-top: 3rem;
} */
.aligntable{
    margin-left: 1rem !important;
}
.selecttag{
    background-color: #E5E5E7;
}
.selecttag:focus{
    box-shadow: none;
    border:1px solid red;

}

.marginTop{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.mt_4{
    margin-top: 1.5rem !important;
}

@media (max-width: 920px) {
  
    .carryp1 {
      padding-top: 14rem;
      font-size: 12px;
      font-weight: 300;
      line-height: 16.9px;
      letter-spacing: 1.1px;
      color: rgba(233, 196, 106, 1);
    }
  }


  
@media screen and (max-width: 768px) {
    .carryp1 {
      padding-top: 14rem;
      font-size: 12px;
      font-weight: 300;
      line-height: 16.9px;
      letter-spacing: 1.1px;
      color: rgba(233, 196, 106, 1);
    }
  
    .carryh1 {
      padding-top: 1rem;
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: -2%;
      color: #fff;
      padding-bottom: 6rem;
      width: 100%;
    }
    .marginTop{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
  
  }
  
  @media screen and (max-width: 480px) {

    
    .carryp1 {
        padding-top: 8rem;
        font-size: 16px;
        font-weight: 600;
        line-height: 16.9px;
        letter-spacing: 1.1px;
        color: rgba(233, 196, 106, 1);
        padding-left: 14px;
        padding-right: 14px;
      }

    .carryh{
        text-align: start;
        color: black;
        padding-top: 0rem;
        font-size: 26px;
        line-height:30px;
        letter-spacing: 1.6px;
        font-weight: 600;
        text-transform: capitalize;
        padding-left: 14px;
        padding-right: 14px;
    }
    
    .carryh1 {
      padding-top: 1rem;
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: -2%;
      color: #fff;
      padding-bottom: 6rem;
      padding-left: 14px;
      padding-right: 14px;
      width: 100%;
    }

    .carryp{
       font-size: 16px;
        font-weight: 600;
        text-align: start;
        margin-top: 1rem;
        color:orange;
        padding-left: 14px;
        padding-right: 14px;
    }

    .padding_left_right{
        margin-left: 14px;
        margin-right: 14px;
    }



    .width_value{
        width: 90%;
        margin: auto;
    }

    .carrypp{
        margin-top: 0.5rem;
        text-align: start;
        font-size: 17px;
        font-weight: 400;
        color: black;
        margin-bottom: 1rem;
        padding-left: 14px;
        padding-right: 14px;
    }

    .marginTop{
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
        padding: 0 14px;
    }

    .mt_4{
        margin-top: 0rem !important;
    }

    .tabledata{
        padding-top: 2rem;
        overflow-x: scroll;
    }

  }